header, section {
    padding: 2% 0;
}

header {
    text-align: center;
    background: #f6f6f6;
}

header h2 {
    font-size: 16px;
}

section, footer {
    border-top: 1px solid #ccc;
}

footer p {
    text-align: center;
    padding: 10px;
}
